@charset "utf-8";
/* CSS Document */

body{
	background-color: black;
	background-image: url("snowflake2.png");
}
#explain {
	display: block;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 30px;
	margin-top: 5px;
    background-color:none;
    color: white;
	border-radius: 100%;
	text-align: center;
	font-size: 30px;
	font-family: "Helvetica", Sans-Serif;
}

.div1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 150px;
    height: 150px;
    background-color:white;
    color: black;
	border-radius: 100%;
	text-align: center;
	font-size: 30px;
  }
.div2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 150px;
    height: 150px;
    background-color: white;
    color: black;
	border-radius: 100%;
	text-align: center;
	font-size: 23px;
  }

.div3 {
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 150px;
    height: 150px;
    background-color: white;
    color: black;
	border-radius: 100%;
  }

@media  only screen and (min-device-width: 320px) and (max-device-width: 480px)and (-webkit-min-device-pixel-ratio: 3)
{
	.div1{
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 250px;
    height: 250px;
    background-color:white;
    color: black;
	border-radius: 100%;
	text-align: center;
	font-size: 60px
	}
	.div2{
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 250px;
    height: 250px;
    background-color:white;
    color: black;
	border-radius: 100%;
	text-align: center;
	font-size: 50px;
	}
	.div3{
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 250px;
    height: 250px;
    background-color:white;
    color: black;
	border-radius: 100%;
	}
	#explain {
	display: block;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 30px;
	margin-top: 5px;
    background-color:none;
    color: white;
	border-radius: 100%;
	text-align: center;
	font-size: 80px;
}
}
